@{
    ViewData["Title"] = "Inicio";
}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="text-themecolor mb-0">
                <i class="fas fa-user-shield text-secondary"></i> Lista de usuarios
            </h3>

            <div id="pnlPrincipal">
                <div class="row mt-4 mb-3">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Estatus:</span>
                            </div>
                            <select class="form-control" id="cboEstatus">
                                <option value="true" selected>Activo</option>
                                <option value="false">Inactivo</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 mb-3">
                    <div class="col">
                        <table id="gvUsuario" class="display">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Usuario</th>
                                    <th>Correo</th>
                                    <th>Sexo</th>
                                    <th>Estatus</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div id="mpEditUsr" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @Html.Partial("~/Views/Usuario/_actualizaUsuario.cshtml")
        </div>
    </div>
</div>


<input type="hidden" id="hfUrlEliminarUsuario" value="@Url.Action("DeleteUsuario", "Usuario")" />
<input type="hidden" id="hfUrlGetUsuario" value="@Url.Action("GetUsuariosByEstatus", "Usuario")" />
<input type="hidden" id="hfUrlActualizarUsuario" value="@Url.Action("UpdateUsuario", "Usuario")" />
<input type="hidden" id="hfUrlGetUsuarioId" value="@Url.Action("GetUsuariosById", "Usuario")" />
@{
    Random rnd = new Random();
    string r = rnd.Next().ToString();
    <script src="~/js/validacion.js?v=@r"></script>
    <script src="~/js/inicio.js?v=@r"></script>
}